@use "../../../css/scss/mixin.scss" as *;

html {
    &.hide-scroll {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

body {
    background-color: #000;
}


.content {
    color: #fff;
    background-color: #2c2c2a;
    border-radius: 10px;
    width: 40%;
    margin: auto;

    @include responsive(350) {
        width: 100%;
    }

    @include responsive(450) {
        width: 90%;
    }

    @include responsive(850) {
        width: 60%;
    }

    @include responsive(1050) {
        width: 50%;
    }

    @include responsive(1250) {
        width: 40%;
    }

    .head {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    p {
        @include responsive(350) {
            font-size: 13px;
        }

        @include responsive(650) {
            font-size: initial;
        }
    }

    .headData {
        color: #898781;
        font-weight: 600;

        @include responsive(350) {
            font-size: 16px;
        }

        @include responsive(650) {
            font-size: initial;
        }
    }

    .buttons {
        button {

            @include responsive(350) {
                font-size: 11px;
            }

            @include responsive(650) {
                font-size: initial;
            }

        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: auto;

    .box {
        width: 40%;
        background-color: #2c2c2a;
        border-radius: 10px;
        color: #fff;
        transform: translateX(-200%);
        transition: all 0.7s ease-in-out;
        opacity: 0;

        @include responsive(350) {
            width: 90%;
        }

        @include responsive(450) {
            width: 80%;
        }

        @include responsive(850) {
            width: 60%;
        }

        @include responsive(1050) {
            width: 50%;
        }

        @include responsive(1250) {
            width: 40%;
        }

        .head {
            i {
                font-size: 20px;
            }
        }

        form {
            label {
                font-size: 15px;
                font-weight: 600;
            }

            input,
            select {
                background-color: #2c2c2a;
                color: #fff;
                border: 1px solid #5e5d5d;
                box-shadow: none;

                &[type="file"] {
                    width: 60%;
                }
            }

            input::placeholder {
                color: #777;
            }

            .password {
                position: relative;

                i {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                }
            }

            button {

                @include responsive(350) {
                    font-size: 11px;
                }

                @include responsive(650) {
                    font-size: initial;
                }

            }
        }
    }

    &.active {
        display: flex;
    }

    &.show {
        .box {
            transform: translateX(0);
            opacity: 1;
        }
    }
}